.genre-list {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    background-color: white;
    border: 1px solid #ece4e4;
    border-radius: 5px;
    overflow-x: auto;
    white-space: nowrap;
}
    .genre-list::-webkit-scrollbar {
        height: 0;
    }

    .genre-list:hover::-webkit-scrollbar {
        height: 10px;
    }

    .genre-list::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .genre-list:hover::-webkit-scrollbar-thumb {
        background-color: #075e89;
    }

    .genre-list::-webkit-scrollbar-track {
        background-color: lightgray;
    }
.genre-item {
    padding: 10px;
}

    .genre-item.active {
        background-color: #8B008B;
        color: white;
        border-radius: 5px;
    }

.genre-link {
    font-weight: bold;
    font-weight: bold;
    text-decoration: none;
    color: #555;
    font-size: 16px;
    padding: 10px;
}
.genre-item.active .genre-link {
    color: white;
}
.book-block{
    margin-bottom: 20px;
}
.book-block .image-box{
    margin: 0px;
    overflow: hidden;
    border-radius: 8px;
}
 .book-block .image-box img{
      width: 100%;
      height: 300px;
      object-fit: cover;
 }
.text-main {
    color: #1c1c1a;
    text-decoration : none;
}
.popular-books-container {
    margin-top: 20px;
    box-shadow: 0 0 5px lightgray;
    border-radius: 8px;
}

.popualar-book-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 10px auto;
    grid-column-gap: 10px;
}
    
.popualar-book-item:first-child {
        border-top: 1px solid var(--color-very-light-grey);
    }

 .popualar-book-item:last-child {
       margin-bottom : 0px;
   }
 .popualar-book-item img{
     width: 100px;
     height: 120px;
 }
.book-title {
    color: black;
    opacity: 0.8;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
    left: 100px;
}
.book-author {
    color: darkgrey;
    font-size: 17px;
    color: darkgrey;
    font-size: 17px;
    position: relative;
    left: 100px;
}
